@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Minecraft';
    src: url('/assets/Minercraftory.ttf');
    font-weight: normal;
    font-style: normal;
}  

/* Classes */
.anim-sections {
    transition: .1s;
}